trunk/IntegracionWS/WEB-INF/rsedatos.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.datalayer.redsocedu.fiuba.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.datalayer.redsocedu.fiuba.ar/" name="DataService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.datalayer.redsocedu.fiuba.ar/" schemaLocation="http://192.168.43.178:8080/rsedatos/rsedatos?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="beginTransaction">
<part name="parameters" element="tns:beginTransaction"></part>
</message>
<message name="beginTransactionResponse">
<part name="parameters" element="tns:beginTransactionResponse"></part>
</message>
<message name="saveOrUpdate">
<part name="parameters" element="tns:saveOrUpdate"></part>
</message>
<message name="saveOrUpdateResponse">
<part name="parameters" element="tns:saveOrUpdateResponse"></part>
</message>
<message name="rollback">
<part name="parameters" element="tns:rollback"></part>
</message>
<message name="rollbackResponse">
<part name="parameters" element="tns:rollbackResponse"></part>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"></part>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"></part>
</message>
<message name="query">
<part name="parameters" element="tns:query"></part>
</message>
<message name="queryResponse">
<part name="parameters" element="tns:queryResponse"></part>
</message>
<message name="commit">
<part name="parameters" element="tns:commit"></part>
</message>
<message name="commitResponse">
<part name="parameters" element="tns:commitResponse"></part>
</message>
<portType name="IData">
<operation name="beginTransaction">
<input wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/beginTransactionRequest" message="tns:beginTransaction"></input>
<output wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/beginTransactionResponse" message="tns:beginTransactionResponse"></output>
</operation>
<operation name="saveOrUpdate">
<input wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/saveOrUpdateRequest" message="tns:saveOrUpdate"></input>
<output wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/saveOrUpdateResponse" message="tns:saveOrUpdateResponse"></output>
</operation>
<operation name="rollback">
<input wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/rollbackRequest" message="tns:rollback"></input>
<output wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/rollbackResponse" message="tns:rollbackResponse"></output>
</operation>
<operation name="delete">
<input wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/deleteRequest" message="tns:delete"></input>
<output wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/deleteResponse" message="tns:deleteResponse"></output>
</operation>
<operation name="query">
<input wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/queryRequest" message="tns:query"></input>
<output wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/queryResponse" message="tns:queryResponse"></output>
</operation>
<operation name="commit">
<input wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/commitRequest" message="tns:commit"></input>
<output wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/commitResponse" message="tns:commitResponse"></output>
</operation>
</portType>
<binding name="DataPortBinding" type="tns:IData">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="beginTransaction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="saveOrUpdate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="rollback">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="query">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="commit">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="DataService">
<port name="DataPort" binding="tns:DataPortBinding">
<soap:address location="http://192.168.43.178:8080/rsedatos/rsedatos"></soap:address>
</port>
</service>
</definitions>