trunk/ClienteIntegracionWS/integracion.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.ws.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://pojos.ws.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.ws.com">
    <wsdl:types>
        <xs:schema xmlns:ax22="http://pojos.ws.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.ws.com">
            <xs:import namespace="http://pojos.ws.com/xsd"/>
            <xs:element name="actualizarDatos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualizarDatosResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="seleccionarDatos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="seleccionarDatosResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardarDatos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardarDatosResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isMock">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="isMockResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminarDatos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminarDatosResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardarArchivo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="archivo" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guardarArchivoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminarArchivo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eliminarArchivoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualizarArchivo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="archivo" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="actualizarArchivoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="seleccionarArchivo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="seleccionarArchivoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax21:ArchivoMetadata"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setMockService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="mock" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pojos.ws.com/xsd">
            <xs:complexType name="Pojo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="databaseEntity" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArchivoMetadata">
                <xs:complexContent>
                    <xs:extension base="ax21:Pojo">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="contenido" nillable="true" type="xs:base64Binary"/>
                            <xs:element minOccurs="0" name="databaseEntity" nillable="true" type="xs:anyType"/>
                            <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="recurso" nillable="true" type="ax21:Recurso"/>
                            <xs:element minOccurs="0" name="recursoId" nillable="true" type="xs:long"/>
                            <xs:element minOccurs="0" name="tamanio" nillable="true" type="xs:long"/>
                            <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Recurso">
                <xs:complexContent>
                    <xs:extension base="ax21:Pojo">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="ambitoId" nillable="true" type="xs:long"/>
                            <xs:element minOccurs="0" name="databaseEntity" nillable="true" type="xs:anyType"/>
                            <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="eliminarArchivoRequest">
        <wsdl:part name="parameters" element="ns:eliminarArchivo"/>
    </wsdl:message>
    <wsdl:message name="eliminarArchivoResponse">
        <wsdl:part name="parameters" element="ns:eliminarArchivoResponse"/>
    </wsdl:message>
    <wsdl:message name="seleccionarDatosRequest">
        <wsdl:part name="parameters" element="ns:seleccionarDatos"/>
    </wsdl:message>
    <wsdl:message name="seleccionarDatosResponse">
        <wsdl:part name="parameters" element="ns:seleccionarDatosResponse"/>
    </wsdl:message>
    <wsdl:message name="actualizarArchivoRequest">
        <wsdl:part name="parameters" element="ns:actualizarArchivo"/>
    </wsdl:message>
    <wsdl:message name="actualizarArchivoResponse">
        <wsdl:part name="parameters" element="ns:actualizarArchivoResponse"/>
    </wsdl:message>
    <wsdl:message name="isMockRequest">
        <wsdl:part name="parameters" element="ns:isMock"/>
    </wsdl:message>
    <wsdl:message name="isMockResponse">
        <wsdl:part name="parameters" element="ns:isMockResponse"/>
    </wsdl:message>
    <wsdl:message name="actualizarDatosRequest">
        <wsdl:part name="parameters" element="ns:actualizarDatos"/>
    </wsdl:message>
    <wsdl:message name="actualizarDatosResponse">
        <wsdl:part name="parameters" element="ns:actualizarDatosResponse"/>
    </wsdl:message>
    <wsdl:message name="guardarArchivoRequest">
        <wsdl:part name="parameters" element="ns:guardarArchivo"/>
    </wsdl:message>
    <wsdl:message name="guardarArchivoResponse">
        <wsdl:part name="parameters" element="ns:guardarArchivoResponse"/>
    </wsdl:message>
    <wsdl:message name="seleccionarArchivoRequest">
        <wsdl:part name="parameters" element="ns:seleccionarArchivo"/>
    </wsdl:message>
    <wsdl:message name="seleccionarArchivoResponse">
        <wsdl:part name="parameters" element="ns:seleccionarArchivoResponse"/>
    </wsdl:message>
    <wsdl:message name="guardarDatosRequest">
        <wsdl:part name="parameters" element="ns:guardarDatos"/>
    </wsdl:message>
    <wsdl:message name="guardarDatosResponse">
        <wsdl:part name="parameters" element="ns:guardarDatosResponse"/>
    </wsdl:message>
    <wsdl:message name="setMockServiceRequest">
        <wsdl:part name="parameters" element="ns:setMockService"/>
    </wsdl:message>
    <wsdl:message name="eliminarDatosRequest">
        <wsdl:part name="parameters" element="ns:eliminarDatos"/>
    </wsdl:message>
    <wsdl:message name="eliminarDatosResponse">
        <wsdl:part name="parameters" element="ns:eliminarDatosResponse"/>
    </wsdl:message>
    <wsdl:portType name="integracionPortType">
        <wsdl:operation name="eliminarArchivo">
            <wsdl:input message="ns:eliminarArchivoRequest" wsaw:Action="urn:eliminarArchivo"/>
            <wsdl:output message="ns:eliminarArchivoResponse" wsaw:Action="urn:eliminarArchivoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="seleccionarDatos">
            <wsdl:input message="ns:seleccionarDatosRequest" wsaw:Action="urn:seleccionarDatos"/>
            <wsdl:output message="ns:seleccionarDatosResponse" wsaw:Action="urn:seleccionarDatosResponse"/>
        </wsdl:operation>
        <wsdl:operation name="actualizarArchivo">
            <wsdl:input message="ns:actualizarArchivoRequest" wsaw:Action="urn:actualizarArchivo"/>
            <wsdl:output message="ns:actualizarArchivoResponse" wsaw:Action="urn:actualizarArchivoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="isMock">
            <wsdl:input message="ns:isMockRequest" wsaw:Action="urn:isMock"/>
            <wsdl:output message="ns:isMockResponse" wsaw:Action="urn:isMockResponse"/>
        </wsdl:operation>
        <wsdl:operation name="actualizarDatos">
            <wsdl:input message="ns:actualizarDatosRequest" wsaw:Action="urn:actualizarDatos"/>
            <wsdl:output message="ns:actualizarDatosResponse" wsaw:Action="urn:actualizarDatosResponse"/>
        </wsdl:operation>
        <wsdl:operation name="guardarArchivo">
            <wsdl:input message="ns:guardarArchivoRequest" wsaw:Action="urn:guardarArchivo"/>
            <wsdl:output message="ns:guardarArchivoResponse" wsaw:Action="urn:guardarArchivoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="seleccionarArchivo">
            <wsdl:input message="ns:seleccionarArchivoRequest" wsaw:Action="urn:seleccionarArchivo"/>
            <wsdl:output message="ns:seleccionarArchivoResponse" wsaw:Action="urn:seleccionarArchivoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="guardarDatos">
            <wsdl:input message="ns:guardarDatosRequest" wsaw:Action="urn:guardarDatos"/>
            <wsdl:output message="ns:guardarDatosResponse" wsaw:Action="urn:guardarDatosResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setMockService">
            <wsdl:input message="ns:setMockServiceRequest" wsaw:Action="urn:setMockService"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarDatos">
            <wsdl:input message="ns:eliminarDatosRequest" wsaw:Action="urn:eliminarDatos"/>
            <wsdl:output message="ns:eliminarDatosResponse" wsaw:Action="urn:eliminarDatosResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="integracionSoap11Binding" type="ns:integracionPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="eliminarArchivo">
            <soap:operation soapAction="urn:eliminarArchivo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="seleccionarDatos">
            <soap:operation soapAction="urn:seleccionarDatos" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizarArchivo">
            <soap:operation soapAction="urn:actualizarArchivo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isMock">
            <soap:operation soapAction="urn:isMock" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizarDatos">
            <soap:operation soapAction="urn:actualizarDatos" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardarArchivo">
            <soap:operation soapAction="urn:guardarArchivo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="seleccionarArchivo">
            <soap:operation soapAction="urn:seleccionarArchivo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardarDatos">
            <soap:operation soapAction="urn:guardarDatos" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setMockService">
            <soap:operation soapAction="urn:setMockService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="eliminarDatos">
            <soap:operation soapAction="urn:eliminarDatos" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="integracionSoap12Binding" type="ns:integracionPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="eliminarArchivo">
            <soap12:operation soapAction="urn:eliminarArchivo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="seleccionarDatos">
            <soap12:operation soapAction="urn:seleccionarDatos" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizarArchivo">
            <soap12:operation soapAction="urn:actualizarArchivo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isMock">
            <soap12:operation soapAction="urn:isMock" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizarDatos">
            <soap12:operation soapAction="urn:actualizarDatos" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardarArchivo">
            <soap12:operation soapAction="urn:guardarArchivo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="seleccionarArchivo">
            <soap12:operation soapAction="urn:seleccionarArchivo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardarDatos">
            <soap12:operation soapAction="urn:guardarDatos" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setMockService">
            <soap12:operation soapAction="urn:setMockService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="eliminarDatos">
            <soap12:operation soapAction="urn:eliminarDatos" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="integracionHttpBinding" type="ns:integracionPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="eliminarArchivo">
            <http:operation location="eliminarArchivo"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="seleccionarDatos">
            <http:operation location="seleccionarDatos"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizarArchivo">
            <http:operation location="actualizarArchivo"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isMock">
            <http:operation location="isMock"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizarDatos">
            <http:operation location="actualizarDatos"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardarArchivo">
            <http:operation location="guardarArchivo"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="seleccionarArchivo">
            <http:operation location="seleccionarArchivo"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="guardarDatos">
            <http:operation location="guardarDatos"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setMockService">
            <http:operation location="setMockService"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="eliminarDatos">
            <http:operation location="eliminarDatos"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="integracion">
        <wsdl:port name="integracionHttpSoap11Endpoint" binding="ns:integracionSoap11Binding">
            <soap:address location="http://200.68.65.249:58080/axis2/services/integracion.integracionHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="integracionHttpSoap12Endpoint" binding="ns:integracionSoap12Binding">
            <soap12:address location="http://200.68.65.249:58080/axis2/services/integracion.integracionHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="integracionHttpEndpoint" binding="ns:integracionHttpBinding">
            <http:address location="http://200.68.65.249:58080/axis2/services/integracion.integracionHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
