IntegracionWS/WEB-INF/rsedatos.wsdl

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.datalayer.redsocedu.fiuba.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.datalayer.redsocedu.fiuba.ar/" name="DataService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.datalayer.redsocedu.fiuba.ar/" schemaLocation="http://localhost:8080/rsedatos/rsedatos?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="query">
<part name="parameters" element="tns:query"/>
</message>
<message name="queryResponse">
<part name="parameters" element="tns:queryResponse"/>
</message>
<message name="rollback">
<part name="parameters" element="tns:rollback"/>
</message>
<message name="rollbackResponse">
<part name="parameters" element="tns:rollbackResponse"/>
</message>
<message name="commit">
<part name="parameters" element="tns:commit"/>
</message>
<message name="commitResponse">
<part name="parameters" element="tns:commitResponse"/>
</message>
<message name="beginTransaction">
<part name="parameters" element="tns:beginTransaction"/>
</message>
<message name="beginTransactionResponse">
<part name="parameters" element="tns:beginTransactionResponse"/>
</message>
<message name="saveOrUpdate">
<part name="parameters" element="tns:saveOrUpdate"/>
</message>
<message name="saveOrUpdateResponse">
<part name="parameters" element="tns:saveOrUpdateResponse"/>
</message>
<portType name="IData">
<operation name="delete">
<input wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="query">
<input wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/queryRequest" message="tns:query"/>
<output wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/queryResponse" message="tns:queryResponse"/>
</operation>
<operation name="rollback">
<input wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/rollbackRequest" message="tns:rollback"/>
<output wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/rollbackResponse" message="tns:rollbackResponse"/>
</operation>
<operation name="commit">
<input wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/commitRequest" message="tns:commit"/>
<output wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/commitResponse" message="tns:commitResponse"/>
</operation>
<operation name="beginTransaction">
<input wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/beginTransactionRequest" message="tns:beginTransaction"/>
<output wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/beginTransactionResponse" message="tns:beginTransactionResponse"/>
</operation>
<operation name="saveOrUpdate">
<input wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/saveOrUpdateRequest" message="tns:saveOrUpdate"/>
<output wsam:Action="http://ws.datalayer.redsocedu.fiuba.ar/IData/saveOrUpdateResponse" message="tns:saveOrUpdateResponse"/>
</operation>
</portType>
<binding name="DataPortBinding" type="tns:IData">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="query">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rollback">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="commit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="beginTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveOrUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DataService">
<port name="DataPort" binding="tns:DataPortBinding">
<soap:address location="http://localhost:8080/rsedatos/rsedatos"/>
</port>
</service>
</definitions>